<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{ page.title }}</title>
        <meta name="author" content="Łukasz Badura" />
        <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
        <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
    </head>
    <body>
    <header>
        <div class="title">
            <a href="/">Łukasz Badura</a><br/>
            <a class="extra" href="/">Rambling about software</a>
        </div>
    </header>
    <section class="page-body">{{ content }}</section>
    <footer class="page-footer">
        &copy; 2011 Łukasz Badura. All rights reserved.
        <a href="http://pl.linkedin.com/in/lukaszbadura"><img src="http://i.imgur.com/X8nZQ.png" alt="Hosted by imgur.com" /></a>
        <a href="http://twitter.com/lbadura/"><img src="http://i.imgur.com/lGUOt.png" alt="Hosted by imgur.com" /></a>
        <a href="http://flickr.com/photos/ukasbadu/"><img src="http://i.imgur.com/oCcnx.png" alt="Hosted by imgur.com" /></a>
    </footer>
    <a href="http://github.com/lbadura"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
    <script type="text/javascript">
        var disqus_shortname = 'ramblingaboutsoftware';
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.src = 'http://disqus.com/forums/ramblingaboutsoftware/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18131887-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
